<p>sub works!</p>
<div [ngSwitch]="state">

  <ng-container *ngSwitchCase="0">
    <div *ngIf="fadeIn" @fadeIn>
      <h1>
        Congratulations <br>
        You have won!
      </h1>
      <img src="assets/img/tickets.png">
      <p>
        Two tickets to the Formula 1 Heineken Dutch Grand Prix 2020.<br>
        Zandvoort May 1-3.
      </p>
      <div class="special">REDEEM YOUR PRIZE</div>
    </div>
  </ng-container>

  <div @fadeOut (@fadeOut.done)="fadedOut($event)" *ngSwitchDefault>
    <p>
      Thank you for filling up with Shell V-Power premium performance fuel.
    </p>
    <h1>
      Spin the Wheel And Win Amazing Formula 1 Prizes
    </h1>
  </div>
</div>
